.red {
    background-color: rgb(210, 64, 64);
}

.orange {
    background-color: rgb(255, 116, 10);
}

.yellow {
    background-color: rgb(255, 239, 59);
}

.green {
    background-color: rgb(0, 237, 87);
}

.l_green {
    background-color: rgb(184, 255, 42);
}

.d_green {
    background-color: rgb(0, 147, 95);
}

.blue {
    background-color: rgb(0, 123, 255);
}

.l_blue {
    background-color: rgb(0, 255, 208);
}

.purple {
    background-color: rgb(131, 64, 208);
}

.pink {
    background-color: rgb(196, 55, 180);
}

/* ---------------------------------------------------------------------------------------------------------------- */
/*                                                                                                                  */
/* ---------------------------------------------------------------------------------------------------------------- */

html, body {        /* "activate support for doctype" */
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("https://www.ema.europa.eu/sites/default/files/regulatory_science_to_2015.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

table {
    width: 100%;
    /*padding:0px 0px 10px 0px;        if not the table go out the screen on top */
    height: 100%;
}

td {
    position: relative;
    border: 1px solid black;
    text-align: center;
}

td div {
    font-size: 1vw;
}


.blank {
    border: 0px;
}

.mass {
    position: absolute;
    top: 0;
    right: 0;
}

.symbol {
    font-weight: bold;
    font-size: 1.5vw;
}

.number {
    position: absolute;
    bottom: 0;
}